/* table.css */

.table{
    border: 1px solid #F39;
    border-collapse: collapse;
    
}

.table th, .table td{
    border: 1px solid #555;
    padding: 5px 10px;
}

.table th{
    background-color: #EEE;
}